@import url('https://fonts.googleapis.com/css2?family=Poppings:wght@200;300;400;500;600;700&display=swap');
$backgroundEdge: rgba(0,34,78,1) 100%;
$backgroundMiddle: rgba(202,199,255,1) 0%;
$backgroundTransition: rgba(132,175,219,1) 35%;
$hover-colour: #5241a8;
$table-hover-colour: rgba(128, 187, 255, 0.43);
*{
}
body{
    background: radial-gradient(circle, $backgroundMiddle, $backgroundTransition, $backgroundEdge);
}
.jumbotron{
    background: transparent;
}
.bg-grey{
    background: #f1f1f1;
}
table * {
    position: relative;
}
.button{
    border-radius: 5px;
    background-color: $hover-colour;
}
.rounded{
    border-radius: 15px;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    align-items: center;
}
