@import url(https://fonts.googleapis.com/css2?family=Poppings:wght@200;300;400;500;600;700&display=swap);
body {
  background: radial-gradient(circle, #cac7ff 0%, #84afdb 35%, #00224e 100%);
}

.stubby-table {
  table-layout: fixed;
  text-overflow: ellipsis;
}
.stubby-table thead th:first-child {
  width: 25%;
}
.stubby-table thead th:nth-child(2) {
  width: 40%;
}
.stubby-table thead th:nth-child(3) {
  width: 15%;
}
.stubby-table thead th:nth-child(4) {
  width: 10%;
}
.stubby-table thead th:last-child {
  width: 10%;
}
.stubby-table thead th {
  text-overflow: ellipsis;
}
.stubby-table tbody td {
  word-wrap: break-word;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stubby-table tbody td:last-child {
  word-wrap: normal;
}

.jumbotron {
  background: transparent;
}

.bg-grey {
  background: #f1f1f1;
}

.button {
  border-radius: 5px;
  background-color: #5241a8;
}

.rounded {
  border-radius: 10px;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  align-items: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-8 {
  margin-top: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.padding-top15 {
  padding-top: 15px;
}

.transparent {
  background-color: transparent !important;
}

.padding-all0 {
  padding: 0;
}

.noBorder {
  border: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bookmarkNavColor {
  background-color: rgba(100, 100, 100, 0.7);
}

.max-height-2rem {
  max-height: 2rem;
}

.overflow {
  overflow-x: auto;
}

.fixed-layout {
  table-layout: fixed;
}

.minimal {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.width-100 {
  width: 100%;
}

.f-05 {
  font-size: 1em;
}

.align-center {
  text-align: center !important;
}

.myButton {
  display: inline-block;
  color: #a0aec0;
  -o-border-image: none;
     border-image: none;
  border-radius: 2px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  line-height: 2;
  white-space: nowrap;
  font-weight: 500;
  background: #5241a8;
  margin-left: 2px;
  margin-right: 2px;
}

.button-wid-3rem {
  width: 3rem;
}

.wordWrap {
  word-wrap: break-word;
}

.display-table {
  display: table;
}
